.w-fc {
  width: fit-content;
}
.ta-c {
  text-align: center;
}
.flex {
  display: flex;
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}
.mar {
  &-c {
    margin: 0 auto;
  }
}
